@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 850px;
  background: white;
  padding: 30px;
  
}

header {
  background: darkred;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header img {
  max-width: 250px;
  padding: 15px;
  border: 2.5px solid white;
}

header h1 {
  color: white;
  font-size: 2.5em;
  padding: 15px;
  max-width: 325px;
}

main {
  background: pink;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h2 {
  color: darkred;
  font-size: 1.5em;
  padding: 30px 15px;
  margin: 15px 15px 0 15px;
  border: 2.5px solid darkred;
}

main ul {
  list-style-type: none;
  padding: 0;
}

main ul li {
  padding: 10px;
}

main ul li a {
  color: darkred;
}

footer {
  background: darkred;
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

