@media screen and (min-width: 32.5em) {
  header {
    flex-direction: row;
  }
  header h1 {
    font-size: 3em;
    text-align: left;
  }
  header img {
    margin: 0 15px 0 0;
  }
  main h2 {
    font-size: 2em;
  }
}
